.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 0;
    background-color: purple;
}

.sideBar {
    position: absolute;
    top: 0;
    width: 20%;
    min-height: 100%;
    left: -20%;
    background-color: black;
    color: white;
}

.sideBar.hide {
    left: -20%;
}

.sideBar.slide {
    left: 0%;
}

.sideBar h1 {
    padding-top: 0;
    color: ghostwhite;
    font-size: 24px;
}

.sideBar li {
    list-style-type: none;
}

.content {
    position: absolute;
    min-height: 88%;
    top: 12%;
    width: 98%;
    left: 0;
    background-color: green;
}

.content {
    left: 5%;
}

.content h1 {
    color: black;

}