<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="/public/CSS/Login.css" rel="stylesheet">

        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body ng-app="LoginScreen">

        <div class="main" ng-controller="LoginController">
	        <!--
	            error messages
	        -->
	        <div ng-show="loginError" class="alert alert-danger">
		        <button class="close" aria-label="close" ng-click="loginError = false">&times;</button>
		        <strong>Error!</strong> The username and password combination is invalid.
	        </div>
	        <div ng-show="twoFactorIDError" class="alert alert-danger">
		        <button class="close" aria-label="close" ng-click="twoFactorIDError = false">&times;</button>
		        <strong>Error!</strong> The telegram code entered is incorrect.
	        </div>
            <!--
                the login in fields
            -->
            <div class="loginBox" ng-show="loginScreen">
                <ul>
                    <li><label for="userName">Username:</label></li>
                    <li><input ng-model="username" type="text" class="form-control" id="userName"/></li>
                    <li><label for="password">Password:</label></li>
                    <li><input ng-model="password" type="password" class="form-control" id="password"/></li>
                    <li>
                        <input ng-click="loginButtonClick()" type="submit" class="btn btn-default" name="loginButton"/>
                    </li>
                </ul>
            </div>
            <!--
                the two factor ID fields
            -->
            <div class="loginBox" ng-hide="loginScreen">
                <ul>
	                <li><label for="telegram">Telegram Code:</label></li>
	                <li><input ng-model="twoFactorID" type="text" class="form-control" id="telegram"/></li>
	                <li>
		                <input ng-click="twoFactorIDButtonClick()" type="submit" class="btn btn-default" name="loginButton" />
	                </li>
                </ul>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/JS/Login.js"></script>
        <script src="/public/JS/loginservice.js"></script>
    </body>
</html>